@import 'Colors.scss';

@media all {
    .header{
        background-color: $cor_2 !important;
        padding: 10px;
        background-size: cover !important;
    }
    .header select {
        float: right;
        margin: 40px 30px 10px;
        border: 0;
        box-shadow: 1px 1px 5px 1px $cor_3;
        width: 30%;
        height: 30px;
        border-radius: 10px;
    }
    .home {
        height: 100%;
        background-color: $cor_1;
    }

    .solicitacoes div{
        background-color: $cor_2 !important;
        margin: 10px 0 0 ;
        width: 80%;
        border-radius: 10px;
        padding: 10px;
    }
}