@import 'Colors.scss';

@media all {
    .home header{
        background-color: $cor_2 !important;
        padding: 10px;
    }
    .home {
        overflow-x: hidden !important;
        background-size: cover;
        height: 100vh;
        overflow-y: hidden;
        background-repeat: no-repeat !important;
        background-color: $cor_1;
    }
}